pkgbase = zfs-dkms
	pkgdesc = Kernel modules for the Zettabyte File System.
	pkgver = 2.1.2
	pkgrel = 1
	url = https://zfsonlinux.org/
	arch = x86_64
	groups = archzfs-dkms
	license = CDDL
	depends = zfs-utils=2.1.2
	depends = lsb-release
	depends = dkms
	provides = zfs
	provides = zfs-headers
	provides = spl
	provides = spl-headers
	conflicts = zfs
	conflicts = zfs-headers
	conflicts = spl
	conflicts = spl-headers
	replaces = spl-dkms
	source = https://github.com/zfsonlinux/zfs/releases/download/zfs-2.1.2/zfs-2.1.2.tar.gz
	sha256sums = 258cf1d17a1f668a3b99b61eaf14be06c614df42503db0319bef1b9fc4c8b9e7

pkgname = zfs-dkms
