pkgbase = zfs-dkms
	pkgdesc = Kernel modules for the Zettabyte File System.
	pkgver = 0.8.5
	pkgrel = 1
	url = https://zfsonlinux.org/
	arch = x86_64
	groups = archzfs-dkms
	license = CDDL
	depends = zfs-utils=0.8.5
	depends = lsb-release
	depends = dkms
	provides = zfs
	provides = zfs-headers
	provides = spl
	provides = spl-headers
	conflicts = zfs
	conflicts = zfs-headers
	conflicts = spl
	conflicts = spl-headers
	replaces = spl-dkms
	source = https://github.com/zfsonlinux/zfs/releases/download/zfs-0.8.5/zfs-0.8.5.tar.gz
	sha256sums = dbb41d6b9c606a34ac93f4c19069fd6806ceeacb558f834f8a70755dadb7cd3d

pkgname = zfs-dkms

