pkgbase = zfs-dkms
	pkgdesc = Kernel modules for the Zettabyte File System.
	pkgver = 0.8.4
	pkgrel = 2
	url = https://zfsonlinux.org/
	arch = x86_64
	groups = archzfs-dkms
	license = CDDL
	depends = zfs-utils=0.8.4
	depends = lsb-release
	depends = dkms
	provides = zfs
	provides = zfs-headers
	provides = spl
	provides = spl-headers
	conflicts = zfs
	conflicts = zfs-headers
	conflicts = spl
	conflicts = spl-headers
	replaces = spl-dkms
	source = https://github.com/zfsonlinux/zfs/releases/download/zfs-0.8.4/zfs-0.8.4.tar.gz
	source = linux-5.8-compat-__vmalloc.patch
	sha256sums = 2b988f5777976f09d08083f6bebf6e67219c4c4c183c1f33033fb7e5e5eacafb
	sha256sums = 264728b1e4f7f7509fde76b6049c93033aa813ae6324f37609ff95db8c9e8959

pkgname = zfs-dkms

